body {
	background: url(img/Preparadão.png) no-repeat center top fixed;
	background-size: 100% 100%;
	overflow: hidden;
}

#segunda-tela {
	display: none;
}

button {
	background-color: yellow;
	border-color: yellow;
	font-family: sans-serif;
	font-size: 40px;
	margin-top: 300px;
}

span {
	color: yellow;
	display: flex;
	font-weight: bold;
	font-size: 40px;
	margin-top: 290px;
	margin-left: 40px;
}

p {
	color: white;
	font-size: 20px;
	font-family: sans-serif;
	display: flex;
	text-align: center;
}

@media only screen and (min-width: 1000px){

	button {
		font-size: 70px;
		margin-left: 650px;
		margin-top: 550px;
	}

	span {
		font-size: 60px;
		margin-top: 500px;
		margin-left: 750px;
	}

	p {
		font-size: 45px;
		margin-left: 250px;
		margin-right: 250px;
		text-align: center;
	}

}